@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    1900 Sans Souci Blvd<br />
    North Miami, FL, 33181<br />
    <abbr title="Phone">P:</abbr>
    786.227.4197
</address>

<address>
    <strong>Linkdln:</strong>   <a href="https://www.linkedin.com/in/humberto-lima-5714a7113">Support@example.com</a><br />
    <strong>GitHub:</strong> <a href="https://github.com/humbertolima">Marketing@example.com</a>
</address>